.Principal {
    padding: 45px 10px;
}
.demo {
    padding: 10px;
    text-align: center;
}
.titulo_colorido {
    font-family: 'Archivo';
    font-weight: 800;
    font-size: 1.7rem;
    padding-bottom: 50px;
    background: linear-gradient(to right, blue,rgba(167, 33, 160, 0.89),rgb(71, 2, 71),blue);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
.caixa {
    padding: 5px;
    display: grid;
    place-items: center;
    grid-template: 1fr 1fr / 1fr ;
    gap: 7px;
    margin-top: 5px;
}
.itens {
    background-color: white;
    display: grid;
    place-items: center;
    padding: 7px;
    gap: 10px;
    grid-template: 3fr 1fr / 1fr;
    width: 100%;
    height: 100%;
}
