.demo {
    background-color: plum;
    padding: 10px;
    text-align: center;
}
.caixa {
    padding: 5px;
    display: grid;
    place-items: center;
    grid-template: 1fr 1fr / 1fr 1fr;
    gap: 7px;
    margin-top: 5px;
}
.itens {
    background-color: white;
    width: 100%;
    height: 100%;
}
