.Navbar {
    grid-area: 1 / 1 / 3 / 2;
    background-color: rgb(241, 236, 241);
    position: fixed;
    width: 100%;
  }
  .bar {
    display: grid;
    background-color: whitesmoke;
    grid-template: 1fr / repeat(3, 1fr);
    place-items: center;
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    grid-area: 1 / 1 / 2 / 2;

  }
  /*.submenu {
    
  }*/
  
  .Menu {
  min-height: 100vh;
  grid-area: 2 / 1 / 3 / 2;  
  padding: 55px 10px;
  text-align: center;
}
.edemo {
  font-size: 1.35rem; /* Equivalente a text-4xl */
  font-weight: 600;
  background: linear-gradient(to right, #1f1a7c, rgb(48, 3, 248));
  -webkit-background-clip: text; /* Para compatibilidade com navegadores WebKit */
  background-clip: text;
  color: transparent;
}
.item {
  background-color: rgba(255, 255, 255, 0.466);
  border-radius: 10px;
  margin: 2px;
  padding: 15px;
}