.Navbar {
    grid-area: 1 / 1 / 3 / 2;
    position: fixed;
    width: 100%;
  }
  .bar {
    display: grid;
    background-color: white;
    grid-template: 1fr / repeat(3, 1fr);
    place-items: center;
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    grid-area: 1 / 1 / 2 / 2;

  }
  
  .Menu {
    box-shadow: #1f1a7c 0px 0px 4px -1px;
    background-color: white;
  min-height: 100vh;
  margin-inline: 10px;
  margin-bottom: 10px;
  border-radius: 15px;
  grid-area: 2 / 1 / 3 / 2;  
  /*padding-top: 90px;*/
  margin-top: 37px;
  text-align: center;
}
.edemo {
  font-size: 1.35rem; /* Equivalente a text-4xl */
  font-weight: 600;
  background: linear-gradient(to right, #1f1a7c, rgb(48, 3, 248));
  -webkit-background-clip: text; /* Para compatibilidade com navegadores WebKit */
  background-clip: text;
  color: transparent;
}
.item {
  background-color: whitesmoke;
  box-shadow: #1f1a7c 0px 0px 2px -1px;
  font-weight: 800;
  border-radius: 10px;
  margin: 5px 15px;
  padding: 15px;
}

.categoria {
  font-weight: 800;
  font-size: 1.9rem;
  font-family: 'Times New Roman', Times, serif;
}
.termo {
  font-size: small;
  font-weight: bold;
}
.Abrirmenu {
  display: none;
}