.bar {
    background-color: white;
    display: grid;
    place-items: center;
    grid-template: 1fr / repeat(3, 1fr);
    top: 0;
    position: fixed;
    width: 100%;

}

.edemo {
  font-size: 1.35rem; /* Equivalente a text-4xl */
  font-weight: 600;
  background: linear-gradient(to right, #1f1a7c, rgb(48, 3, 248));
  -webkit-background-clip: text; /* Para compatibilidade com navegadores WebKit */
  background-clip: text;
  color: transparent;
}
.Menu {
  background-color: whitesmoke;
  padding: 55px 10px;
  text-align: center;
  position: relative;
  margin-top: 40px;
}
.item {
  background-color: rgba(255, 255, 255, 0.466);
  border-radius: 10px;
  margin: 2px;
  padding: 15px;
}