@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/*@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}*/

@import 'bootstrap-icons/font/bootstrap-icons.css';

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /*background: var(--background);
  color: var(--foreground);*/
  background-color: rgba(237, 237, 237, 0.76);
  font-family: Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: 'Archivo';
  src: url("/app/fonts/ArchivoNarrow-Bold.ttf") format('ttf');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}