.Main {
    min-height: 100vh;
    display: grid;
    grid-template: auto 1fr auto / auto;
}
.Navbar {
    grid-area: 1 / 1 / 3 / 2;
}
.Principal {
    grid-area: 2 / 1 / 3 / 2;
    padding: 55px 10px;
}

.customfooter {
    background-color: white;
    grid-area: 3 / 1 / 4 / 2;
}